<!-- Sidebar Component with Bootstrap Col Structure -->
<nav class="col-12 col-lg-3 col-xl-2 sidebar p-3" id="sidebar">
  
  <!-- Toggle Button -->
  <div class="sidebar-toggle" id="sidebarToggle">
    <i class="fa-solid fa-chevron-left"></i>
  </div>

  <div class="mb-2 text-uppercase small opacity-75 sidebar-title">Módulos</div>
  <ul class="nav nav-pills flex-column">
    
    <li class="nav-item my-1">
      <a class="nav-link" href="index.html" data-page="dashboard">
        <i class="fa-solid fa-house"></i>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>

    <li class="nav-item my-1">
      <a class="nav-link" href="diagnostico.html" data-page="diagnostico">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span class="nav-text">Diagnóstico</span>
      </a>
    </li>

    <li class="nav-item my-1">
      <a class="nav-link" href="planejamento.html" data-page="planejamento">
        <i class="fa-solid fa-bullseye"></i>
        <span class="nav-text">Planejamento</span>
      </a>
    </li>

    <li class="nav-item my-1">
      <a class="nav-link" href="comites.html" data-page="comites">
        <i class="fa-solid fa-users"></i>
        <span class="nav-text">Comitês e Atas</span>
      </a>
    </li>

    <li class="nav-item my-1">
      <a class="nav-link" href="kpis.html" data-page="kpis">
        <i class="fa-solid fa-chart-line"></i>
        <span class="nav-text">KPIs</span>
      </a>
    </li>

    <li class="nav-item my-1">
      <a class="nav-link" href="feedback.html" data-page="feedback">
        <i class="fa-solid fa-comments"></i>
        <span class="nav-text">Feedback e Cultura</span>
      </a>
    </li>

    <li class="nav-item my-1">
      <a class="nav-link" href="avaliacao.html" data-page="avaliacao">
        <i class="fa-solid fa-rotate"></i>
        <span class="nav-text">Avaliação</span>
      </a>
    </li>
  </ul>
  <div class="mt-4 small opacity-75"></div>
</nav>